*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    color: black ;
}

.titulo {
    color: forestgreen
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.imagem{
    width: 75px;
    height: auto;
}

.banner{
    width: 100%;
    overflow: hidden;
    position: relative; /* coloca posiçãi ralativa dentro do banner */

}

.banner img {
    width: 100%; /* Garante que a imagem preencha todo o contêiner */
}

.alinhamento{
    border: 2px solid  #254336;
    background-color: #254336;
    color: #DAD3BE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
}

.rodape{
    border: 100px solid  #254336;
    background-color: #254336;
    color: #DAD3BE;
    display: flex;
    justify-content:flex-start;
    gap: 200px;
}

.bot{
    display: flex;
    justify-content: space-between;
}

.botao{
    background-color: #254336;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: black;
}